* {
	/* Apply to EVERYTHING */
	color: #f4be1a;
}

html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;

	/* background: linear-gradient(141deg, #6d6d6d 0%, #383838 51%, #757575 75%); */
	background: linear-gradient(0deg, #000000 0%, #232323 50%, #000000 100%);
	background-attachment: fixed;
}

#content {
	margin: 1em auto;
	max-width: 60em;
	font-family: "Noto Mono", monospace;
	font-size: 1.1em;
}

h1, h2, h3 {
	line-height:1.2;
	border-bottom: 1px solid #f4be1a;
}

h1 {
	border-bottom: 2px solid #f4be1a;
	/* This overrides the 1px bottom border from previous section */
}

@media print {
	body {
		max-width:none
	}
}
